asgiref==3.5.2; python_version >= "3.8"
beautifulsoup4==4.11.1; python_full_version >= "3.6.0" and python_version >= "3.7"
dj-database-url==1.0.0
django-bootstrap4==22.2; python_version >= "3.7"
django-extensions==3.2.0; python_version >= "3.6"
django-seed==0.3.1
django==4.1; python_version >= "3.8"
faker==14.0.0; python_version >= "3.6"
gunicorn==20.1.0; python_version >= "3.5"
psycopg2-binary==2.9.3; python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6" \
    --hash=sha256:0123cacc1627ae19ddf3c27a5de5bd67ee4586fbdd6440d9748f8abb483d3e86 \
    --hash=sha256:961d03dc3453ebbc59dbdea9e4e11c5651520a876d0f4db161e8674aae935da9
python-dotenv==0.20.0; python_version >= "3.5"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6" \
    --hash=sha256:8abb2f1d86890a2dfb989f9a77cfcfd3e47c2a354b01111771326f8aa26e0254 \
    --hash=sha256:1e61c37477a1626458e36f7b1d82aa5c9b094fa4802892072e49de9c60c4c926
soupsieve==2.3.2.post1; python_full_version >= "3.6.0" and python_version >= "3.7"
sqlparse==0.4.2; python_version >= "3.8"
toposort==1.7
tzdata==2022.2; sys_platform == "win32" and python_version >= "3.8"
